{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        .legal-page {
    padding: 120px 0;
    background-color: #f8f6f3;
}

.legal-title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px;
}

.legal-subtitle {
    color: #777;
    margin-bottom: 60px;
}

.legal-content {
    max-width: 700px;
}

.legal-content h3 {
    margin-top: 40px;
    font-weight: 500;
}

.legal-content p {
    margin-top: 10px;
    line-height: 1.7;
    color: #555;
}
    </style>
</head>
<body>
<main>
    <header class="nav">
    <nav class="navigation">
        <a href="{% url 'main:index' %}" class="navigation__logo">
            LUMIÈRE
        </a>
        <div class="navigation__button">
            <a href="{% url 'main:book' %}">Book appointment</a>
        </div>
    </nav>
    </header>


<section class="legal-page">
    <div class="container">

        <h1 class="legal-title">Cookies Policy</h1>
        <p class="legal-subtitle">
            A better browsing experience.
        </p>

        <div class="legal-content">

            <h3>1. What Are Cookies?</h3>
            <p>
                Cookies are small text files stored on your device
                to help improve your browsing experience.
            </p>

            <h3>2. How We Use Cookies</h3>
            <p>
                We use cookies to remember preferences, improve website performance,
                and analyze site traffic.
            </p>

            <h3>3. Managing Cookies</h3>
            <p>
                You can disable cookies in your browser settings.
                However, some website features may not function properly.
            </p>

            <h3>4. Third-Party Cookies</h3>
            <p>
                We may use third-party services for analytics,
                which may also use cookies.
            </p>

        </div>

    </div>
</section>



</main>
</body>
</html>